/**
  * Section for the nav bar styling
  */

.nav {
    color: beige;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1bc47a;
}

.nav li {
    float: left;
}

.nav li a {
    color: beige;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
}

.nav li a:hover:not(.active) {
    background-color: #06A460;
}

.nav li .active {
    background-color: #158A58;
}



/**
  * Default styling for all pages
  */ 
body {
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: beige;
}



/**
  * Section for styling the main page
  */
.page {
    display: flex;
    position: relative;
    align-self: start;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    font-family: "Courier New", Courier, monospace;
}

.page h1 {
    font-size: 48pt;
}

.page p {
    padding: 4%;
    font-size: 20pt;
    text-align: center;
}



/**
  * Section for styling the projects page
  */
.projects-flex {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    display: flex;
    position: relative;
    align-self: start;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 0;
    padding: 3%;
    height: 100vh;
}

.projects-flex::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.projects-flex div {
    display: block;
    width: 24%;
    position: relative;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

.projects-flex div img {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.projects-flex div p {
    font-size: 12pt;
}



/**
  * Section for styling the contact page
  */

.form-flex {
    display: flex;
    position: relative;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: auto;

    font-size: 16pt;
}

#x {
    display: inline-block;
    color: #AA0B13;
}

.form-flex input {
    color: gray;
    width: 15vw;
}

.form-flex #input-wrapper *{
    vertical-align: middle;
}

.form-flex #email-body {
    display: inline-block;
    color: gray;
    width: 75vw;
    height: 50vh;
}

.form-flex button {
    background-color: #1bc47a;
    border: none;
    border-radius: 10px;
    padding: 6px 12px;
    margin-top: 0px;

    color: beige;
    font-size: 12pt;
}

.form-flex button:hover {
    background-color: #06A460;
}

header #bar {
    display: block;
    background-color: #F8464F;
    color: white;
    padding: 7px 8px;
    margin: 0px;
}