/**
  * Section for the nav bar styling
  */

.nav {
    color: beige;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1bc47a;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
}

.nav li a:hover:not(.active) {
    background-color: #06A460;
}

.nav li .active {
    background-color: #158A58;
}



body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: beige;
}

.page {
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    position: relative;
    align-self: start;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;
    padding: 0;
    height: 100vh;
}

.page h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 48pt;
}

.page p {
    padding: 4%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    text-align: center;
}

.projects-flex {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    position: relative;
    align-self: start;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 0;
    height: 100vh;
}

.projects-flex::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.projects-flex div {
    display: block;
    width: 24%;
    position: relative;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

.projects-flex div img {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.projects-flex div p {
    font-size: 12pt;
}